<h2>Transaction history</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions;let i=index">
        <th>{{i+1}}</th>
        <th scope="row">{{transaction.amount}}</th>
        <th scope="row">{{transaction.type}}</th>
        
        
      </tr>
      
     
    </tbody>
  </table>
  <a class="link"  routerLink="/dashboard">HOME</a>