.table{
    text-align: center;
    width: 450px;
    color:white;
    margin-left: 35%;
    margin-top: 10%;
}
h2{
    text-align: center;
    color: white;
}
.link{
    color: white;
    margin-left: 46%;
}
   
